<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />        <!UTF-8 - Character encoding for Unicode -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SAFETYNET</title>
    <link rel="stylesheet" href="fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/tooplate-infinite-loop.css" />
<body background="C:\Users\hp\Desktop\srp\safetynet\templates\img\infinite-loop-01.jpg">
</head>
  <head>
    <meta charset="UTF-8" />        
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SAFETYNET</title> </head>
    <link rel="stylesheet" href="fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/tooplate-infinite-loop.css" />
	<body><br><br><br><br><br><br><br><br><br><center>
	<p style="color:white"><head><font size = "7"><b>YOU HAVE SUCCESSFULLY REGISTERED.</b></head></font></p></p>



		<p><button type="submit" class="btn tm-btn-submit"><a href="file:///C:/Users/hp/Desktop/srp/safetynet/templates/safetynet.html#gallery#testimonials">PLEASE LOGIN</button><p></a>
</br></br></br></br></br></br></br></br></br></br>
</center>
</body>
</html>
